.main__contacto {

    .container {
        display: flex;
        text-align: center;
        justify-content: center;

        .nombre {
            width: 560px;
            background-color: $colorPrincipal;
        }

        .email {
            width: 560px;
            background-color: $colorPrincipal;
        }

        .texto__contacto {
            padding-left: 18px;
            text-align: left;
        }

        .select {
            width: 560px;
            background-color: $colorPrincipal;
        }

        .mensaje {
            width: 560px;
            background-color: $colorPrincipal;
        }

        .boton {
            margin-block: 15px;
        }

    }
}