.main__workshops {
    display: flex;
    padding-top: 0px;
    padding-left: 7%;
    padding-bottom: 0px;
    padding-right: 7%;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    .cajita__workshops {
        display: inline-block;
        width: 22%;
        background-color: $colorPrincipal;
        padding: 10px;
        margin-block: 13px;
        border-radius: 5px;
        margin-inline: 1%;
        align-items: center;
        transition: background-color 1s;
        transition: transform 0.3s;

        &:hover{
            background-color: rgb(243, 174, 173);
            transform: scale(1.05);
        }

        .cajita__imagen {
            width: 200px;
            padding-top: 10px;
        }

        .subtitulo__workshops {
            text-transform: uppercase;
            text-align: center;
        }
    }
}
