* {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.titulo {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin: 18px;
}

.subtitulo {
    text-transform: uppercase;
}